<template>
  <h1>All calculations</h1>
  <div class="container">         
    <Shapes @delete-shape="deleteShape" :shapes="shapes"/>          
  </div>
</template>

<script>

import Shapes from '../components/Shapes.vue'

export default {
  name: 'App',
  components: {
    Shapes    
  },

  data() {
    return {
      shapes: [],    
      selectedShape: null,

      selectedTrikotnik: null,
      selectedPravokotnik: null,
      selectedKrog: null,     
      
      
    }
  },

  methods: {
    async deleteShape(id) {

      const res = await fetch(`http://localhost:5000/shapes/${id}`, {
        method: 'DELETE'
      })

      res.status === 200 ? (this.shapes = this.shapes.filter((shape) => shape.id !== id)) : alert('Error deleting calc')      
    },        

    async fetchShapes() {
      const res = await fetch('http://localhost:5000/shapes')

      const data = await res.json()

      return data
    },

    async fetchShape(id) {
      const res = await fetch(`http://localhost:5000/shapes/${id}`)

      const data = await res.json()

      return data
    },

    onChange(event) {
            this.selectedShape = event.target.value
            if(this.selectedShape === "trikotnik") {
                this.selectedTrikotnik = true

                this.selectedPravokotnik = false
                this.selectedKrog = false
            }
            else if(this.selectedShape === "pravokotnik") {
                this.selectedPravokotnik = true

                this.selectedTrikotnik = false
                this.selectedKrog = false
            }
            else if(this.selectedShape === "krog") {
                this.selectedKrog = true

                this.selectedPravokotnik = false
                this.selectedTrikotnik = false
            }
            else if(this.selectedShape === "none") {
                this.selectedKrog = true

                this.selectedPravokotnik = true
                this.selectedTrikotnik = true
            }            
        },
  },

  async created() {
    this.shapes = await this.fetchShapes()
  }
}

</script>