<template>
    <h1>Calculation Data</h1>
    <div class="shape">
        <h3>{{shape.name}}</h3>
        <p>{{shape.shape}}</p>
        <p v-if="shape.shape === 'trikotnik'">Stranica: {{shape.stranica}} cm</p>
        <p v-if="shape.shape === 'pravokotnik'">Stranica a:{{shape.stranica_a}} cm</p>
        <p v-if="shape.shape === 'pravokotnik'">Stranica b: {{shape.stranica_b}} cm</p>
        <p>Visina: {{shape.visina}} cm</p>
        <p v-if="shape.shape === 'krog'">Polmer: {{shape.polmer}} cm</p>
    </div>
</template>

<script>
export default {
    name: 'Data',
    props: {
        shape: Object        
    },   

    data() {
        return {
            shape: null
        }
    },

    methods: {
        async fetchShape(id) {
            const res = await fetch(`http://localhost:5000/shapes/${id}`)

            const data = await res.json()

            return data
        },

    },

    async created() {
        let data_id = this.$route.query.id
        this.shape = await this.fetchShape(data_id)
    }
}
    
</script>

<style scoped>
.shape {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.shape h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>