<template>
    <div>
    <AddShape @add-shape="addShape"/>
  </div>  
</template>

<script>
import AddShape from '../components/AddShape.vue'

export default {
    name: 'Home',
    components: {
        AddShape
    },

    methods: {    

    async addShape(shape) {
      const res = await fetch('http://localhost:5000/shapes', {
        method: 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify(shape)
      })      

      const data = await res.json()      

      this.shapes = [...this.shapes, data]
    }
    
  }  
}

</script>