<template>
    <form @submit="onSubmit" class="add-form">
    <div class="form-control" id="shapetype">
        <label>Choose Shape</label>      
        <select class="form-control" name="shape_select" @change="onChange($event)">        
            <option value="trikotnik">--- Select shape ----</option>
            <option value="trikotnik">Trikotnik</option>
            <option value="pravokotnik">Pravokotnik</option>
            <option value="krog">Krog</option>
        </select>
    </div>
    <div class="form-control">
        <label>Calculation name</label>
      <input type="text" v-model="name" name="name" placeholder="calc1" />
          
    </div>
    <div class="form-control" v-if="selectedTrikotnik">
        <label>Dolzina stranice</label>
      <input type="text" v-model.number="stranica" name="stranica" placeholder="Add Value in Centimetres (0-200)" @change="onValuesChange($event)"/>
          
    </div>
    <div class="form-control" v-if="selectedPravokotnik">
        <label>Dolzina stranice a</label>
      <input type="text" v-model.number="stranica_a" name="stranica_a" placeholder="Add Value in Centimetres (0-200)" @change="onValuesChange($event)" />
          
    </div>
    <div class="form-control" v-if="selectedPravokotnik">
        <label>Dolzina stranice b</label>
      <input type="text" v-model.number="stranica_b" name="stranica_b" placeholder="Add Value in Centimetres (0-200)" @change="onValuesChange($event)"/>
          
    </div>
    <div class="form-control" v-if="selectedTrikotnik || selectedKrog || selectedPravokotnik">
        <label>Visina</label>
      <input type="text" v-model.number="visina" name="visina" placeholder="Add Value in Centimetres (0-200)" @change="onValuesChange($event)"/>          
    </div>
    <div class="form-control" v-if="selectedKrog">
        <label>Polmer</label>
      <input type="text" v-model.number="polmer" name="polmer" placeholder="Add Value in Centimetres (0-200)" @change="onValuesChange($event)"/>
          
    </div>
    <div>
        <p v-if="selectedTrikotnik">
            Obseg trikotnika: {{(3*stranica).toFixed(2)}} cm<br>
            Povrsina osnovne ploskve: {{((Math.pow(stranica,2)*Math.sqrt(3))/4).toFixed(2)}} cm<sup>2</sup><br>
            Volumen: {{((1/4)*9*Math.pow(stranica,2)*(1/Math.tan(Math.PI/9))).toFixed(2)}} cm<sup>3</sup>
        </p>
        <p v-if="selectedPravokotnik">
            Obseg pravokotnika: {{(2*(stranica_a + stranica_b)).toFixed(2)}} cm<br>
            Povrsina osnovne ploskve: {{(stranica_a*stranica_b).toFixed(2)}} cm<sup>2</sup><br>
            Volumen: {{(stranica_a*stranica_b*visina).toFixed(2)}} cm<sup>3</sup>
        </p>
        <p v-if="selectedKrog">
            Obseg kroga: {{(2*Math.PI*polmer).toFixed(2)}} cm<br>
            Povrsina osnovne ploskve: {{(Math.PI*Math.pow(polmer,2)).toFixed(2)}} cm<sup>2</sup><br>
            Volumen: {{(Math.PI*Math.pow(polmer,2)*visina).toFixed(2)}} cm<sup>3</sup>
        </p>
    </div>

    <input type="submit" value="Save Parameters" class="btn btn-block" />
  </form>
</template>

<script>

export default {
    name: 'AddShape',
    
    data() {   
        selectedShape: null  

        return {
            name: '',
            shape: '',
            stranica: '',
            stranica_a: '',
            stranica_b: '', 
            visina: '',
            polmer: '',
            
            selectedTrikotnik: null,
            selectedPravokotnik: null,
            selectedKrog: null,            

        }
    },
    methods: {
        onSubmit(e) {
            e.preventDefault()

            if(this.selectedShape === undefined){
                alert('Please select shape!')
                return
            }            

            const newShape = {                
                name: this.name,
                shape: this.selectedShape,
                stranica: this.stranica,
                stranica_a: this.stranica_a,
                stranica_b: this.stranica_b,
                visina: this.visina,
                polmer: this.polmer
            }

            this.$emit('add-shape', newShape)

            this.name = ''
            this.shape = ''
            this.stranica = ''
            this.stranica_a = ''
            this.stranica_b = ''
            this.visina = ''
            this.polmer = ''

        }, 
        
        onChange(event) {
            this.selectedShape = event.target.value
            if(this.selectedShape === "trikotnik") {
                this.selectedTrikotnik = true

                this.selectedPravokotnik = false
                this.selectedKrog = false
            }
            else if(this.selectedShape === "pravokotnik") {
                this.selectedPravokotnik = true

                this.selectedTrikotnik = false
                this.selectedKrog = false
            }
            else if(this.selectedShape === "krog") {
                this.selectedKrog = true

                this.selectedPravokotnik = false
                this.selectedTrikotnik = false
            }
        },

        onValuesChange(event){            
            if(event.target.value <= 200 && event.target.value >= 0){
                event.target.style.borderColor = "#4afc3d"
            } else {
                event.target.style.borderColor = "#ee3129"
            }

        }
    }
}
</script>

<style scoped>
add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.input-has-value-style {
  border: 2px solid green;  
}

.input-no-value-style {
  border: 2px solid red;  
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control-check label {
  flex: 1;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}

</style>