<template>
    <header>
        <h1>Calculator</h1>        
        <router-link class="btn" to='/'>New Calc</router-link>
        <router-link class="btn" to='/calcs'>All Calcs</router-link>
    </header>
</template>

<script>
import Button from './Button.vue'

export default {
    name: 'Header',
    components: {
        Button
    }
}
</script>

<style scoped>
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
</style>