<template>
<div @click="onSelect(shape.id)" class="shape">
    <h3>
        {{shape.name}}
        <i @click="onDelete(shape.id)" class="fas fa-times"></i>
    </h3>
    <p>{{shape.shape}}</p>    
</div>
</template>

<script>
export default {
    name: 'Shape',
    props: {
        shape: Object        
    },   
    
    methods: {
        onDelete(id) {
            this.$emit('delete-shape', id)
        },

        onSelect(id) {            
            this.$router.push({ path: '/data', query: { id: id } })

        }
    }
}
</script>

<style scoped>

.fas {
    color: red;
}

.shape {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.shape h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>