<template>
    <div :key="shape.id" v-for="shape in shapes">
        <Shape @delete-shape="$emit('delete-shape', shape.id)" :shape="shape" />
    </div>

</template>

<script>
import Shape from './Shape.vue'

export default {
    name: 'Shapes',
    props: {
        shapes: Array
    },
    components: {
        Shape
    },

    emits: ['delete-shape']
}
</script>